.formGroup {
    position: relative;
    margin-bottom: 20px;

    &__input {
        width: 100%;
        padding: 12px;
        border: 1px solid #d1d1d6;
        border-radius: 10px;
        font-size: 16px;
        color: #1c1c1e;
        box-sizing: border-box;
        transition: border-color 0.3s;
        padding-right: 50px;
    }

    &__input:focus {
        border-color: #007aff;
        outline: none;
    }

    &__label {
        position: absolute;
        top: 10px;
        left: 12px;
        background: white;
        padding: 5px;
        color: #7d7d7d;
        transition: all 0.2s;
        pointer-events: none;
    }

    &__input:focus +&__label,
    &__input:not(:placeholder-shown) +&__label {
        top: -12px;
        left: 10px;
        font-size: 12px;
        color: #007aff;
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: white;
        border: 1px solid #007aff;
        border-radius: 50%;
        color: #007aff;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, color 0.3s;
    }

    &__button:hover {
        background-color: #007aff;
        color: white;
    }
}